/* -------Remove Browser Default Styles------- */

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* -------Full Page------- */

body {
    display: block;
}




/* -------Page Left------- */

.sideImage img {
    width: 35%;
}



/* -------Page Right------- */

